.follow {
    box-sizing: border-box;
    margin-top: 0px;
    height: 0px;
    background-color: var(--primary);
    font-family: var(--myfont);
    border-radius: 0px;
    text-align: center;
    line-height: 0px;
    box-shadow:
        0px 0px 0px 0px rgba(0, 0, 0, 0),
        0px 0px 0px 0px rgb(255, 255, 255);
    
    border: 0px solid var(--bgc-1);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: var(--white-m);
    transition: all 0.2s;
}
.follow:hover {
    box-shadow:
        0px 0px 0px 0px rgba(0, 0, 0, 0),
        0px 0px 0px 0px rgb(255, 255, 255),
        0px 0px 0px 0px rgba(0, 0, 0, 0) inset,
        0px 0px 0px 0px rgba(255, 255, 255, 0) inset;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.link {
    max-width: 220px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.link-item:last-child {
    margin-right: 0;
}
.link-item {
    color: var(--color);
    margin-right: 20px;
    transition: 0.2s;
}
.link-item:hover {
    transform: scale(1.3);
}